wheel
cycler            
fonttools         
kiwisolver        
numpy             
opencv-python     
packaging         
Pillow            
pip              
pyparsing         
python-dateutil  
scipy            
setuptools        
six              
torch             
tqdm             
typing_extensions 