name: pytesting

on:
  push:
    # branches-ignore:
    #   - "main"
# #    branches: [ main ]
  schedule:
    - cron: '0 0 1 * *'
# pull_request:
#    branches:
#      - '*'

jobs:
  run:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # os: [ubuntu-latest]
        os: [ubuntu-latest, windows-latest]
        python: ['3.8']
    env:
      OS: ${{ matrix.os }}
      PYTHON: ${{ matrix.python }}
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements_dev.txt
    # - name: Lint with flake8
    #   run: |
    #     pip install flake8
    #     # stop the build if there are Python syntax errors or undefined names
    #     flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
    #     # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
    #     flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    # - name: Test with pytest
    #   run: |
    #     pip install pytest
    #     pytest -v --cov=structured-predictions --cov-report=html


    # - name: Build and compile
    #   run: |
    #     make dist
    #     python setup.py develop

    - name: Build and compile
      run: |
        make dist
        # pip install dist/*
        python setup.py develop
